body {
	margin: auto;
	background-color: #b2b0b0;
}

td.details-control {
	background: url('/static/image/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.details td.details-control {
	background: url('/static/image/details_close.png') no-repeat center center;
}

/*a{
	border-left: 1px solid #B7D0E4;
	display: inline-block;
	margin-left:  20px;
	padding: 0px 0px 0px 3px;
}*/

.odd > td, .even > td{
	text-align: center;
}

.datepicker {
	z-index: 888889 !important;
}
#table_show {
	word-break:break-all;
}

#table1 > tbody > tr > td.skills_control {
	color: #2157b1;
}

#table1 {
	margin-left: 10%;
}

.id_row {
	display: none;
}